<p> Here are your Ideas, <%= current_user.username %></p>
<% current_user.ideas.each do |idea| %>
  <div class="idea">
  <a href="/myideas/<%= idea.id %>">
    <%= idea.keimeno %>
  </a>
  </div>
<% end %>